body {
    margin: 0px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    user-select: none;
    color: #222;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: none;
    color: darkgray
}

a:active {
    text-decoration: none;
}

img {
    /* width: 100%; */
    border-radius: 10px;
}

.button_big_primary {
    background: rgb(26, 137, 23);
    color: rgb(255, 255, 255);
    line-height: 20px;
    padding: 8px 28px 10px;
    font-size: 14px;
    border-color: rgb(26, 137, 23);
    border-style: solid;
    border-width: 1px;
    border-radius: 99em;
    box-sizing: border-box;
    font-weight: 400;
}

.button_small_primary {
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    height: 26px;
    width: 65px;
    background: #1a8917;
    border-color: #1a8917;
    color: white;    
}

.button_small_secondary {
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    height: 26px;
    width: 65px;
    background: #f7f7f7;
    border-color: #acacac;
    color: rgb(94 94 94);
}

input {
    outline: 0px;
    border-width: 0px;
    border-color: rgb(209, 209, 209);
    border-width: 0px 0px 1px;
    width: 100%;
}